{% set searchUrl = '/search' %}
<header class="header sticky-top">
    <div class="header_dropdown container">
        <nav class="navbar navbar-expand-lg row">
            <!-- Brand -->
            <a class="navbar-brand" href="{{ currentSite.baseUrl }}">
                <img src="/assets/img/icon.svg" alt="">
            </a>

            <div class="d-flex align-items-center">
                <button class="btn header-search search-btn--js" type="button">
                    <span class="">
                        <img src="/assets/img/Vector.png" class="search-icon" alt="">
                        <img src="/assets/img/close.svg" class="close-icon" alt="">
                    </span>
                </button>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler collapsed pr-0" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="header-burger">
                        <img src="/assets/img/menu_mob.png" alt="">
                    </span>
                    <span class="header-close">
                        <img src="/assets/img/close.png" alt="">
                    </span>
                </button>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav justify-content-lg-between">
                    {% set nav = craft.navigation.nodes('meinMenu').level(1).all() %}

                    {% macro nodeToNav(node, index) %}
                        {% set checkName = '/'~ craft.app.request.pathInfo %}
                        {%- set nodeClasses = [] -%}
                        {%- if node.level == 1 and node.children.one() -%}
                            {%- set nodeClasses = nodeClasses|merge(['nav-item dropdown d-flex flex-column justify-content-center']) -%}
                        {%- elseif node.level == 1 -%}
                            {%- set nodeClasses = nodeClasses|merge(['nav-item d-flex flex-column justify-content-center']) -%}
                        {%- endif -%}
                        {%- if node.classes|length -%}
                            {%- set nodeClasses = nodeClasses|merge([node.classes]) -%}
                        {%- endif -%}

                        <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }} dropdown-hover"{% endif %}>
                            <a href="{{ node.url }}" {% if node.children.one() %}class="nav-link dropdown-toggle" data-toggle="dropdown"
                               title="{{ node.title }}"{% else %}class="nav-link"{% endif %}{% if node.newWindow %} target="_blank"{% endif %}>{{ node.title }}</a>
                            {% if node.children %}
                                <div class="dropdown-menu p-0">
                                    {% for subnode in node.children.all() %}
                                        <a class="dropdown-item {% if loop.first %}mt-1{% endif %}" href="{{ subnode.url }}">{{ subnode.title }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </li>
                    {% endmacro %}

                    {% for node in nav %}
                        {{ _self.nodeToNav(node, loop.index) }}
                    {% endfor %}

                    {% set sites = craft.app.sites.getAllSites() %}
                    <li class="nav-item d-flex flex-column justify-content-center">
                        <nav class="nav d-flex justify-content-between align-items-center">
                            <button class="btn header-search-desk search-btn--js" type="button">
                                <span class="">
                                    <img src="/assets/img/Vector.png" class="search-icon" alt="">
                                    <img src="/assets/img/close.svg" class="close-icon" alt="">
                                </span>
                            </button>
                            <div class="d-flex header-lang-mob">
{#                                <a class="nav-link active" href="#">{{ currentSite.language|replace({'-US':'','da':'Dut','en':'Eng'}) }}</a>#}
{#                                <a class="nav-link" href="#">Dut</a>#}
                                {% set supportedSites = entry.getSupportedSites %}
                                {% for siteForEntry in entry.getSupportedSites %}
                                    <span data-language="en">
                                        {# get the site #}
                                        {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
                                        {# check if it's the current site #}
                                        {% if site.id == entry.siteId %}
                                            <a class="nav-link active" href="{{ entry.getUrl() }}">{{ site.language|replace({'-US':'','da':'Dut','en':'Eng'}) }}</a>
                                        {% else %}
                                            {# if it's not the current site, get the entry for this site #}
                                            {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
                                            <a class="nav-link" href="{{ entryForOtherSite.getUrl() }}">{{ site.language|replace({'-US':'','da':'Dut','en':'Eng'}) }}</a>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            </div>
                            <div class="dropdown header-lang-desk">
                                {% for siteForEntry in entry.getSupportedSites %}
                                    {# get the site #}
                                    {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
                                    {# check if it's the current site #}
                                    {% if site.id == entry.siteId %}
                                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ site.language|replace({'-US':'','da':'Dut','en':'Eng'}) }}
                                        </button>
                                    {% else %}
                                        {# if it's not the current site, get the entry for this site #}
                                        {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a href="{{ entryForOtherSite.getUrl() }}" class="dropdown-item">{{ site.language|replace({'-US':'','da':'Dut','en':'Eng'}) }}</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% set button = global.button %}
                            {% if button.customText %}
                                <a href="{{ button.getUrl() }}" class="btn btn-primary rounded-0 d-flex justify-content-between header-login align-items-center">
                                    {{ button.customText }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </nav>
                    </li>
                </ul>
            </div>
        </nav>        {# copyright #}
    </div>
    <div class="header__wrap">
        <div class="header__search container">
            <form class="header__search-input header__search-input--js d-flex align-items-center" action="{{ searchUrl }}">
                <input type="search" name="q" placeholder="Search Here">
                <div class="header__search-button header__search-button--js">
                    <button class="btn" type="button">
                    <span>
                        <img src="/assets/img/Vector.png" class="search-black" alt="">
                        <img src="/assets/img/search-red.svg" class="search-red" alt="">
                    </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>
