.header {
  background-color: var(--colorWhite);
  height: 53px;
  border-bottom: 1px solid var(--lightGrey);

  .search-btn--js {
    .close-icon {
      display: none;
    }

    &.active {
      .search-icon {
        display: none;
      }

      .close-icon {
        display: inline-block;
        width: 18px;
        height: 18px;
      }
    }
  }

  &__search {
    height: 100%;

    &-button {
      position: absolute;
      width: 50px;
      background: var(--colorWhite);
      right: 0;
      height: 48px;

      .search-red {
        display: none;
      }

      &.input-red {
        .search-black {
          display: none;
        }

        .search-red {
          display: inline-block;
        }
      }
    }

    &-input {
      width: 100%;
      height: 100%;
      position: relative;

      button {
        position: absolute;
        right: 15px;
      }

      input {
        width: 100%;
        height: 50px;
        border: unset;
        border-bottom: 1px solid var(--lightGrey);
        padding-left: 14px;

        &:focus-visible {
          outline: unset;
        }
      }
    }
  }

  &__wrap {
    position: absolute;
    right: 0;
    left: 0;
    height: 120px;
    background-color: var(--colorWhite);
    display: none;
    border-bottom: 1px solid var(--lightGrey);
  }

  .navbar-collapse {
    &.collapse {
      &.show {
        &::after {
          height: 100vh;
          content: "";
          background: var(--colorBlack);
          width: 100%;
          position: fixed;
          opacity: 0.8;
          left: 0;
        }
      }
    }
  }

  &-login {
    border: unset !important;
  }

  .header-lang-mob {
    @media (min-width: 992px) {
      display: none !important;
    }
  }

  .header-lang-desk {
    display: none !important;

    @media (min-width: 992px) {
      width: 84px;
      height: 36px;
      display: flex !important;

      .dropdown-menu {
        padding: 0;
        top: 33px;
        max-width: 84px;
        min-width: unset;
        max-height: 36px;
      }

      &:hover {
        .dropdown-menu {
          display: block !important;
        }
      }

      @media (min-width: 1050px) {
        margin-left: 38px;
      }

      .dropdown-toggle {
        background-color: var(--colorWhite);

        &::after {
          @media (min-width: 992px) {
            position: absolute;
            top: 17px !important;
            left: 52px;
            right: unset !important;
          }
        }
      }

      button {
        border: 1px solid var(--colorBlack);
        padding-bottom: 0 !important;
        width: 84px;
        height: 36px;
        padding-left: 14px !important;
        padding-top: 0 !important;
        padding-right: unset !important;
        text-align: left;
      }

      a {
        border: 1px solid var(--colorBlack);
        width: 84px;
        height: 36px;
        padding: 4px 0 0 14px !important;
        text-align: left;

        &:hover {
          color: var(--colorRed);
        }

        &:active {
          color: var(--colorLightRed);
          text-decoration: none;
          background-color: unset;
        }
      }
    }
  }

  &-search {
    @media (min-width: 992px) {
      display: none !important;
    }
  }

  @media (min-width: 992px) {
    height: 85px;
  }

  &_dropdown {
    background-color: var(--colorWhite);
    border-bottom: 1px solid var(--lightGrey);
    max-height: 100vh;
    overflow: scroll;

    @media (min-width: 992px) {
      max-height: unset;
      overflow: unset;
    }

    .navbar-toggler {
      .header-burger {
        display: none;
      }

      .header-close {
        display: block;
        width: 20px;
        height: 16px;
        margin-top: -5px;
      }

      &.collapsed {
        .header-close {
          display: none;
        }

        .header-burger {
          width: 20px;
          display: inline-block !important;
        }
      }
    }
  }

  .navbar {
    padding: {
      top: 0;
      bottom: 0;
    }

    &-nav {
      width: 100%;
    }

    .navbar-toggler-icon {
      width: 20px;
      height: 14px;

      svg {
        width: 20px;
        height: 14px;
      }
    }

    .navbar-brand {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 91px;
      height: 36px;
      padding-bottom: unset !important;
      padding-top: unset !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @media (min-width: 992px) {
        margin-right: 20px;
      }

      @media (min-width: 1025px) {
        margin-right: 47px;
      }
    }

    .navbar-toggler {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .nav-item {
      padding-top: 12px;
      padding-bottom: 12px;
      min-height: 64px;
      position: relative;

      .nav-link {
        color: var(--colorBlack);
        font-weight: 600;

        @media (min-width: 992px) {
          &:hover {
            color: var(--colorRed);
          }
        }
      }

      @media (min-width: 992px) {
        padding-top: unset;
        padding-bottom: unset;

        .dropdown-menu {
          margin-top: 0;

          a {
            &:hover {
              color: var(--colorRed);
            }
          }
        }

        &:not(:last-child) {
          &:hover {
            .nav-link {
              color: var(--colorRed);

              &::after {
                transform: rotate(180deg);
              }
            }

            .dropdown-menu {
              display: block;
            }
          }
        }
      }

      &.show {
        .nav-link {
          &::after {
            transform: rotate(180deg);

            @media (min-width: 992px) {
              color: var(--colorRed);
            }
          }
        }
      }

      .nav {
        height: 84px;

        .active {
          color: var(--colorGrey);
        }

        a {
          margin-right: 28px;
        }

        .btn {
          &.header-search-desk {
            display: none !important;

            @media (min-width: 992px) {
              display: inline-block !important;
            }
          }

          &:not(.header-search-desk) {
            background-color: var(--colorRed);
            width: 134px;
            height: 36px;

            @media (min-width: 992px) {
              width: 108px;
              margin-left: 10px;
            }
          }
        }

        .nav-link {
          font-weight: 400;
        }
      }

      .dropdown-toggle {
        &::after {
          transition: all 0.3s ease;

          @media (max-width: 767px) {
            position: absolute;
            right: 0;
            top: 30px;
          }

          @media (min-width: 992px) {
            position: absolute;
            top: 40px;
            right: -10px;
          }
        }
      }

      @media (max-width: 767px) {
        &::before {
          position: absolute;
          background: #e0e0e0;
          left: -1rem;
          right: -1rem;
          top: 0;
          height: 1px;
          content: '';
        }
      }
    }

    .show {
      &.dropdown-hover {
        padding-top: 12px;
        padding-bottom: 12px;

        @media (min-width: 992px) {
          padding-top: unset;
          padding-bottom: unset;
        }

        a {
          &:hover {
            background-color: unset !important;

            @media (min-width: 992px) {
              color: var(--colorRed);
            }
          }
        }

        .nav-link {
          @media (min-width: 992px) {
            color: var(--colorRed) !important;
          }
        }
      }

      &.dropdown {
        padding-top: 12px;

        @media (min-width: 992px) {
          padding-top: 0;
        }
      }
    }

    .dropdown-menu {
      border: unset;
      border-radius: unset !important;

      &.show {
        display: none;

        @media (min-width: 992px) {
          display: block;
        }
      }

      .dropdown-item {
        padding: {
          left: 24px;
          right: 87px;
          top: 0;
          bottom: 14px;
        };

        &:active {
          color: var(--colorRed);
          background-color: unset;
        }
      }
    }
  }
}

.anchor-top {
  z-index: 100;
  position: fixed;
  right: 50px;
  bottom: 100px;
  width: 48px;
  height: 48px;
  border: 1px solid var(--darkGrey);
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  .anchor-link {
    width: 100%;
    height: 100%;
  }

  * {
    color: var(--darkGrey);
  }

  &:hover {
    border-color: var(--colorRed);

    * {
      color: var(--colorRed);
    }
  }
}
