{% if image.extension == 'svg'  %}
    {% if svgOff is not defined %}
        {{ svg(image) }}
     {% else %}
         {% set caption = caption is defined ? caption : '' %}
         <picture {% if pictureClass is defined %}class="{{ pictureClass }}"{% endif %}>

             <img {% if lazyOff is not defined %}loading="lazy"{% endif %} src="{{ image.getUrl() }}" {% if class is defined %}class="{{ class }}"{% endif %} alt="{% if altTitle is defined and altTitle | length %}{{ altTitle }}{% else %}{{ image.title }}{% endif %}"{% if dataAttributes is defined %} {{ dataAttributes|raw }}{% endif %}>

             {% if caption | length %}
                 <figcaption>{{ caption }}</figcaption>
             {% endif %}

         </picture>
    {% endif %}
{% else %}

    {% set caption = caption is defined ? caption : '' %}

    {% if preset is defined %}
        {% if preset == 'banner' %}
            {% set mobileImage = image.getUrl('bannerMobile') %}
            {% set tabletImage = image.getUrl('bannerTablet') %}
            {% set desktopImage = image.getUrl('bannerDesktop') %}

            {% set mobileImageWebp = image.getUrl('bannerMobileWebp') %}
            {% set tabletImageWebp = image.getUrl('bannerTabletWebp') %}
            {% set desktopImageWebp = image.getUrl('bannerDesktopWebp') %}
        {% elseif preset == 'getStarted' %}
            {% set mobileImage = image.getUrl('getStartedMobile') %}
            {% set tabletImage = image.getUrl('getStartedTablet') %}
            {% set desktopImage = image.getUrl('getStartedDesktop') %}

            {% set mobileImageWebp = image.getUrl('getStartedMobileWebp') %}
            {% set tabletImageWebp = image.getUrl('getStartedTabletWebp') %}
            {% set desktopImageWebp = image.getUrl('getStartedDesktopWebp') %}
        {% elseif preset == 'lowBanner' %}
            {% set mobileImage = image.getUrl('lowBannerMobile') %}
            {% set tabletImage = image.getUrl('lowBannerTablet') %}
            {% set desktopImage = image.getUrl('lowBannerDesktop') %}

            {% set mobileImageWebp = image.getUrl('lowBannerMobileWebp') %}
            {% set tabletImageWebp = image.getUrl('lowBannerTabletWebp') %}
            {% set desktopImageWebp = image.getUrl('lowBannerDesktopWebp') %}
        {% elseif preset == 'office' %}
            {% set mobileImage = image.getUrl('officeMobile') %}
            {% set tabletImage = image.getUrl('officeTablet') %}
            {% set desktopImage = image.getUrl('officeDesktop') %}

            {% set mobileImageWebp = image.getUrl('officeMobileWebp') %}
            {% set tabletImageWebp = image.getUrl('officeTabletWebp') %}
            {% set desktopImageWebp = image.getUrl('officeDesktopWebp') %}
        {% elseif preset == 'slider' %}
            {% set mobileImage = image.getUrl('sliderMobile') %}
            {% set tabletImage = image.getUrl('sliderTablet') %}
            {% set desktopImage = image.getUrl('sliderDesktop') %}

            {% set mobileImageWebp = image.getUrl('sliderMobileWebp') %}
            {% set tabletImageWebp = image.getUrl('sliderTabletWebp') %}
            {% set desktopImageWebp = image.getUrl('sliderDesktopWebp') %}
        {% elseif preset == 'smallSlider' %}
            {% set mobileImage = image.getUrl('smallSliderMobile') %}
            {% set tabletImage = image.getUrl('smallSlider') %}
            {% set desktopImage = image.getUrl('smallSlider') %}

            {% set mobileImageWebp = image.getUrl('smallSliderMobileWebp') %}
            {% set tabletImageWebp = image.getUrl('smallSliderWebp') %}
            {% set desktopImageWebp = image.getUrl('smallSliderWebp') %}
        {% endif %}
    {% else %}
        {% set mobileImage = image.getUrl('bannerMobile') %}
        {% set tabletImage = image.getUrl('bannerTablet') %}
        {% set desktopImage = image.getUrl('bannerDesktop') %}
    {% endif %}


    {% if bgImage is defined and selector is defined %}
        <style type="text/css" scoped>
            {{ selector }} {
                background-image: url({{ mobileImage }});
            }
            @media (min-width: 600px) {
            {{ selector }} {
                background-image: url({{ tabletImage }});
            }
            }
            @media (min-width: 1023px) {
            {{ selector }} {
                background-image: url({{ desktopImage }});
            }
            }
        </style>
    {% else %}
        <picture
                {% if pictureClass is defined %}class="{{ pictureClass }} lazy-load-new" {% else %} class="lazy-load-new" {% endif %}
                data-src="{{ image.url }}"
                data-img-class="{{ class ?? "" }}"
                data-alt-text="{{ image.title }}"

                data-mobile-webp="{{ mobileImageWebp ?: image.url }}"
                data-tablet-webp="{{ tabletImageWebp ?: image.url }}"
                data-desktop-webp="{{ desktopImageWebp ?: image.url }}"

                data-url-mobile="{{ mobileImage ?: image.url }}"
                data-url-tablet="{{ tabletImage ?: image.url }}"
                data-url-desktop="{{ desktopImage ?: image.url }}"
        >

        </picture>
    {% endif %}

{% endif %}