{% set cacheKey = currentSite.id ~ ( entry.id ?? '' ) %}
{% for content in entry.contentMatrix.all() %}
    {% switch content.type %}
        {% case 'mainBanner' %}
            {% cache using key "banner" ~ cacheKey ~ content.id %}
                {% include 'shared/components/banner/index' %}
            {% endcache %}
        {% case 'entriesList' %}
            {% cache using key "solutions" ~ cacheKey ~ content.id %}
                {% include 'shared/components/solutions/index' %}
            {% endcache %}
        {% case 'textBlock' %}
            {% cache using key "preview-content" ~ cacheKey ~ content.id ~ craft.app.request.isMobileBrowser() %}
                {% include 'shared/components/preview-content/index' %}
            {% endcache %}
        {% case 'imageAndText' %}
            {% cache using key "get-started" ~ cacheKey ~ content.id %}
                {% include 'shared/components/get-started/index' %}
            {% endcache %}
        {% case 'lowBanner' %}
            {% cache using key "contact-banner" ~ cacheKey ~ content.id %}
                {% include 'shared/components/contact-banner/index' %}
            {% endcache %}
        {% case 'form' %}
            {% include 'shared/components/form/index' %}
        {% case 'divider' %}
            {% cache using key "divider" ~ cacheKey ~ content.id %}
                {% include 'shared/components/divider/index' %}
            {% endcache %}
        {% case 'textContent' %}
            {% cache using key "text-content" ~ cacheKey ~ content.id %}
                {% include 'shared/components/text-content/index' %}
            {% endcache %}
        {% case 'imageBanner' %}
            {% cache using key "banner-img" ~ cacheKey ~ content.id %}
                {% include 'shared/components/banner-img/index' %}
            {% endcache %}
        {% case 'map' %}
            {% cache using key "banner-img" ~ cacheKey ~ content.id %}
                {% include 'shared/components/map/index' %}
            {% endcache %}
        {% case 'vacancies' %}
            {% cache using key "vacancies" ~ cacheKey ~ content.id ~ craft.app.request.isMobileBrowser() %}
                {% include 'shared/components/vacancies/index' %}
            {% endcache %}
        {% case 'offices' %}
            {% cache using key "about-office" ~ cacheKey ~ content.id ~ craft.app.request.isMobileBrowser() %}
                {% include 'shared/components/about-office/index' %}
            {% endcache %}
        {% case 'slider' %}
            {% cache using key "slider" ~ cacheKey ~ content.id ~ craft.app.request.isMobileBrowser() %}
                {% include 'shared/components/slider/index' %}
            {% endcache %}
        {% case 'breadcrumbs' %}
            {% cache using key "breadcrumbs" ~ cacheKey ~ content.id %}
                {% include 'shared/components/bread-crumbs/index' %}
            {% endcache %}
    {% endswitch %}
{% endfor %}