:root {
  /**
   * Application Theme Colors
   */


  --colorRed: #FF1A24;
  --colorBlack: #000000;
  --colorDark: #121212;
  --colorWhite: #ffffff;
  --colorGrey: #aaaaaa;
  --colorLightRed: #FF474F;
  --lightGrey: #E0E0E0;
  --darkGrey: #4F4F4F;
  --colorGrey2: #828282;
  --colorGrey3: #F2F2F2;
  --colorGrey4: #BDBDBD;
  --colorGrey5: #1B1B1B;

  /**
   * Base var colors
   */

  /**
   * Gradient
   */
}