/* -- Site fonts */
/* -- Operator Mono normal */

@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Titillium';
  src: url('/assets/fonts/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
