html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  &:focus {
    outline: unset !important;
  }
}

body {
  margin: 0;
  padding: 0;

  .btn {
    &:focus {
      box-shadow: none;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .btn-primary {
    &:focus {
      outline: none !important;
      background-color: var(--colorLightRed) !important;
      box-shadow: none !important;
    }

    &:active {
      outline: 0 !important;
    }

    &:hover {
      background-color: var(--colorLightRed) !important;
    }

    &.red-btn {
      padding-left: 29px;
      padding-right: 29px;
      width: 100%;
      height: 54px;
      font-size: 18px;
      background-color: var(--colorRed);
    }
  }
}
