.bread-crumbs {
  margin-top: 30px;
  margin-bottom: 30px;

  a {
    font-size: 14px;
    line-height: 18px;
    color: var(--colorBlack);
    margin-right: 5px;

    &:hover {
      color: var(--colorRed);
    }
  }

  span {
    font-size: 14px;
    line-height: 18px;
    color: var(--colorGrey2);
    margin-left: 5px;
  }
}
