<section class="bread-crumbs container d-flex align-items-center">
        {% set home = craft.entries.id('2').one() %}
        {% if content.fullPath %} <a href="{{ currentSite.baseUrl }}">{% if home|length %}{{ home.title }}{% endif %}</a> / {% endif %}<span>{{ entry.title }}</span>
</section>
