{% if content.sort.value == 'newToOld' %}
    {% set order = 'postDate DESC' %}
{% else %}
    {% set order = 'postDate asc' %}
{% endif %}

{% paginate craft.entries.section('vacanciesList').orderBy(order).limit(5) as pageInfo, pageEntries %}
    {% for content in pageEntries %}
        {% set date = content.postDate %}
        {%- macro timeAgo(date, additionalAttributes) -%}
            {% if date is defined %}
                {# settings #}
                {% set format = 'medium' %}
                {% set locale = currentSite.language %}
                {# logic #}
                {% set formatter = create({ class: 'craft\\i18n\\Formatter', locale: locale }) %}
                {% set attributes = {
                    text: formatter.asRelativeTime(date),
                    datetime: date|date('yy-m-d'),
                    title: date|date(format),
                } %}
                {% if additionalAttributes is defined and additionalAttributes is not iterable %}
                    {% set attributes = attributes|merge({class: additionalAttributes}) %}
                {% elseif additionalAttributes is iterable %}
                    {% set attributes = attributes|merge(additionalAttributes) %}
                {% endif %}
                {{tag('time',attributes)}}
            {% endif %}
        {%- endmacro -%}
        <section class="container" data-aos="fade-down">
            <div class="vacancies">
                <div class="vacancies__block row">
                    {% if content.department %}
                        <div class="vacancies__block-department col-lg-2">
                            <p>{{ content.department }}</p>
                        </div>
                    {% endif %}
                    <div class="col-lg-4">
                        {% if content.title %}
                            <div class="vacancies__block-name">
                                <h4>{{ content.title }}</h4>
                            </div>
                        {% endif %}
                        {% if content.button.customText %}
                            <div class="vacancies__block-button">
                                    <!-- Button trigger modal -->
                                    <button class="apply-now" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                                        {{ content.button.customText }}
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Apply Now</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <p class="vacancy-contact">Fill in the form below and a HQ Pack representative will contact you directly. </p>
                                                <p class="vacancy-name">Vacancy Name </p>
                                                <div class="modal-body">
                                                        {{ craft.freeform.form('applyNow').render }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 vacancies__block-mob">
                        <div>
                            <button class="d-flex border-0 pl-0 collapsePreviewSee collapsed" type="button" data-toggle="collapse" data-target="#collapsePreview{{ content.id }}" aria-expanded="false" aria-controls="collapsePreview{{ content.id }}">
                                <span class="">Description</span>
                            </button>
                            <button class="d-flex border-0 pl-0 collapsePreviewHide collapsed" type="button" data-toggle="collapse" data-target="#collapsePreview{{ content.id }}" aria-expanded="false" aria-controls="collapsePreview{{ content.id }}">
                                <span class="">Hide</span>
                            </button>
                            <div class="collapse" id="collapsePreview{{ content.id }}">
                                {% if content.text|length %}
                                    <div class="vacancies__block-text">
                                        {{ content.text }}
                                    </div>
                                {% endif %}
                                {% if content.workingHours|length %}
                                    <div class="vacancies__block-hours d-flex justify-content-between">
                                        <span class="vacancies__block-hours-working">{{ content.workingHours }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <span class="vacancies__block-hours-ago d-flex justify-content-end">{{ _self.timeAgo(date) }}</span>
                    </div>
                    <div class="col-lg-6 vacancies__block-text vacancies__block-hours-desktop">
                        {% if content.text|length %}
                            <div class="vacancies__block-text">
                                {{ content.text }}
                            </div>
                        {% endif %}
                        {% if content.workingHours|length %}
                            <div class="vacancies__block-hours d-flex justify-content-between">
                                <span class="vacancies__block-hours-working">{{ content.workingHours }}</span><span class="vacancies__block-hours-ago">{{ _self.timeAgo(date) }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

<div class="container">
    <div class="blog__navigation">

        {# arrow Left #}
        <a class="blog__navigation-left" {% if pageInfo.prevUrl %} href="{{ pageInfo.prevUrl }}" {% endif %}><div></div> Prev</a>
        <div class="blog__numbers">
            {%if pageInfo.currentPage > 3 %}
                <a class="blog__navigation-number" href="{{pageInfo.firstUrl}}">1</a>
            {% endif %}

            {% if pageInfo.currentPage > 4 %}
                <span class="blog__navigation-number">  ...  </span>
            {% endif %}

            {# arrow previous pages #}
            {% for page, url in pageInfo.getPrevUrls(2) %}
                <a class="blog__navigation-number" href="{{ url }}">{{ page }}</a>
            {% endfor %}

            {# current page #}
            <div class="blog__navigation-number --active">{{ pageInfo.currentPage }}</div>

            {# next pages #}
            {% for page, url in pageInfo.getNextUrls(2) %}
                <a class="blog__navigation-number" href="{{ url }}">{{ page }}</a>
            {% endfor %}

            {% if pageInfo.totalPages - pageInfo.currentPage > 3 %}
                <span class="blog__navigation-number">  ...  </span>
            {% endif %}

            {# last page #}
            {% if pageInfo.totalPages - pageInfo.currentPage > 2 %}
                <a class="blog__navigation-number" href="{{ pageInfo.lastUrl }}">{{pageInfo.totalPages}}</a>
            {% endif %}
        </div>


        {# arrow Right #}
        <a class="blog__navigation-right" {% if pageInfo.nextUrl %} href="{{ pageInfo.nextUrl }}" {% endif %}>Next <div></div></a>

    </div>
</div>