.vacancies {
  padding-top: 24px;
  color: white;
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
  margin-bottom: -1px;

  .collapsePreviewSee {
    position: relative;
    margin-left: 27px;
    font-size: 15px;
    line-height: 24px;
    background-color: unset;
    margin-bottom: 12px;
    display: none !important;

    &::before {
      position: absolute;
      content: "";
      left: -27px;
      top: 8px;
      width: 5px;
      height: 10px;
      background-image: url(/assets/img/blackArrow.png);
      transition: all 0.3s ease;
    }

    &.collapsed {
      display: flex !important;
    }
  }

  .collapsePreviewHide {
    position: relative;
    margin-left: 27px;
    font-size: 15px;
    line-height: 24px;
    background-color: unset;
    margin-bottom: 12px;

    &::before {
      position: absolute;
      content: "";
      left: -27px;
      top: 8px;
      width: 5px;
      height: 10px;
      transform: rotate(90deg);
      background-image: url(/assets/img/blackArrow.png);
      transition: all 0.3s ease;
    }

    &.collapsed {
      display: none !important;
    }
  }

  &__block {
    padding-bottom: 24px;

    &-hours {
      &-desktop {
        display: none;

        @media (min-width: 641px) {
          display: block;
        }
      }

      &-working {
        font-weight: 600;
        font-size: 15px;
        color: var(--colorDark);
      }

      &-ago {
        font-size: 15px;
        color: var(--darkGrey);
      }
    }

    &-mob {
      margin-bottom: 12px;

      .vacancies__block-hours-ago {
        margin-top: 12px;
      }

      @media (min-width: 641px) {
        display: none;
      }
    }

    &-department {
      p {
        font-size: 15px;
        color: var(--colorDark);
        margin-bottom: 12px;
      }
    }

    &-name {
      h4 {
        color: var(--colorDark);
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 12px;
      }
    }

    &-button {
      .apply-now {
        display: block;
        color: var(--colorRed);
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 12px;
        border: unset;
        background-color: var(--colorWhite);
        padding-left: 0;

        &:hover {
          color: var(--colorLightRed);
        }
      }
    }

    &-text {
      p {
        font-size: 15px;
        color: var(--darkGrey);
        margin-bottom: 24px;
      }
    }
  }

  .modal-content {
    border: unset;

    @media (min-width: 641px) {
      padding: 40px;
    }

    .modal-header {
      border-bottom: unset;
      position: relative;

      button {
        position: absolute;
        right: 15px;

        @media (min-width: 641px) {
          right: -25px;
          top: -30px;
        }
      }
    }

    .freeform-row {
      flex-direction: column;

      @media (min-width: 641px) {
        flex-direction: row;
      }

      label {
        color: var(--colorDark);
      }

      input {
        height: 48px;
        background-color: var(--colorGrey3);
        border: unset;
        border-bottom: 1px solid var(--colorGrey4);
        font-size: 16px;

        &:focus-visible {
          border: unset;
          outline: unset;
          border-bottom: 1px solid var(--colorGrey5);
          padding-left: 18px;
        }
      }

      button {
        position: relative;
        color: var(--colorWhite);
        font-size: 17px;
        line-height: 24px;
        padding: 12px 24px;
        height: 48px;
        width: 100%;
        border: unset;
        background-color: var(--colorRed);
        margin-top: 16px;
        text-align: left;
        text-decoration: none !important;

        &::before {
          position: absolute;
          content: '';
          top: 17px;
          right: 34px;
          width: 15px;
          height: 15px;
          background-image: url(/assets/img/right-up.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }

        @media (min-width: 992px) {
          width: 179px;
        }

        &:hover {
          background-color: var(--colorLightRed);
        }
      }
    }

    h5 {
      color: var(--colorBlack);
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }

    .vacancy-contact {
      margin-bottom: 24px;
    }

    .vacancy-name {
      color: var(--colorRed);
    }

    p {
      font-size: 14px;
      line-height: 18px;
      color: var(--darkGrey);
      margin-left: 1rem;
    }
  }
}

.blog {
  &__numbers {
    display: flex;
    justify-content: center;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    margin-bottom: 58px;

    &-left {
      cursor: pointer;

      div {
        display: none;
        width: 30px;
        height: 1px;
        background-color: var(--colorRed);
        margin-bottom: 7px;
        margin-right: 18px;

        @media (min-width: 641px) {
          display: inline-block;
        }
      }

      &:hover {
        color: var(--colorRed);
      }
    }

    &-right {
      div {
        display: none;
        width: 30px;
        height: 1px;
        background-color: var(--colorRed);
        margin-bottom: 7px;
        margin-left: 18px;

        @media (min-width: 641px) {
          display: inline-block;
        }
      }

      &:hover {
        color: var(--colorRed);
      }
    }

    &-number {
      font-weight: 700;
      font-size: 15px;
      line-height: 21px;
      margin-left: 13px;
      margin-right: 13px;

      &:hover {
        color: var(--colorBlack);
      }

      &.--active {
        color: var(--colorGrey);
      }
    }

    a {
      color: var(--colorBlack);
      font-weight: 600;
    }
  }
}
