.banner {
  width: 100%;
  height: 100vh;
  position: relative;

  picture {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/img/noise24.png');
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &_content {
    position: relative;
    color: var(--colorWhite);
    padding-left: 10px;
    border-left: 2px solid var(--colorRed);
    width: 288px;

    @media (min-width: 641px) {
      margin-bottom: 36px;
    }

    @media (min-width: 1025px) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 48px;
      width: 460px !important;
    }
  }

  .container {
    position: absolute;
    top: 0;
    padding-top: 96px;

    @media (min-width: 641px) {
      padding-top: 75px;
    }

    @media (min-width: 1025px) {
      padding-top: 251px;
    }
  }

  h2 {
    color: var(--colorWhite);
    font-weight: 700;
    font-size: 36px;
    line-height: 3rem;
    margin-bottom: 177px;

    @media (min-width: 641px) {
      margin-bottom: 56px;
    }

    @media (min-width: 1025px) {
      font-size: 72px;
      line-height: 84px;
      margin-bottom: 180px;
    }
  }

  .btn {
    @media (min-width: 641px) {
      width: 240px !important;
      height: 54px !important;
    }
  }
}
