<section data-aos="fade-down" class="banner d-flex justify-content-center animated fadeInDown" data-wow-duration="2s">
    {% set image = content.image.one() %}
    {% if image|length %}
        {% include "/shared/functions/_addImage.twig" with {
            image: image,
            preset: 'banner'
        } %}
    {% endif %}
    <div class="container h-100">
        {% if content.text|length %}
            <div class="banner_content mb-5">
                {{ content.text }}
            </div>
        {% endif %}
        {% if content.header|length %}
            <h2 class="col-10 col-sm-12 pl-0">
                {{ content.header }}
            </h2>
        {% endif %}
        {% if content.button.customText|length %}
            <a href="{{ content.button.getUrl() }}" class="btn btn-primary red-btn border-0 rounded-0 d-flex justify-content-between align-items-center">
                {{ content.button.customText }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
            </a>
        {% endif %}
    </div>
</section>
