.solutions {
  &_solution {
    height: 106px;
    border: 1px solid var(--lightGrey);
    padding: 18px 24px !important;

    @media (min-width: 1025px) {
      height: 178px;
      padding: 42px 46px !important;
    }

    h4 {
      font-size: 20px;
      line-height: 32px;
      font-weight: 700;
      color: var(--colorDark);

      @media (min-width: 1025px) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    &-sub-section {
      span {
        color: var(--colorRed);
      }

      .long-arrow {
        display: none;
      }

      &:hover {
        .long-arrow {
          display: inline-block;
        }

        .short-arrow {
          display: none;
        }

        text-decoration: none;

        h4 {
          color: var(--colorRed);
        }
      }
    }

    span {
      span {
        color: var(--colorRed);
        margin-right: 10px;
      }
    }

    &-main-section {
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      color: var(--darkGrey);
    }
  }
}
