{% if content.entryCard|length %}
<section class="solutions" data-aos="fade-up">
    <div class="row mr-0 ml-0">
        {% for card in content.entryCard.all() %}
            {% set cardSection = craft.app.sections.getSectionById(card.sectionId) %}
            <div class="solutions_solution col-lg-3 col-sm-6 d-flex flex-column justify-content-between">
                <span class="solutions_solution-main-section"><span>/</span> {{ cardSection }}</span>
                <a href="{{ card.getUrl() }}" class="d-flex justify-content-between align-items-center solutions_solution-sub-section">
                    <h4>{{ card.title }}</h4>
                    <span class="short-arrow">
                        <svg width="25" height="8" viewBox="0 0 25 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.3536 4.35356C24.5488 4.15829 24.5488 3.84171 24.3536 3.64645L21.1716 0.464468C20.9763 0.269206 20.6597 0.269206 20.4645 0.464468C20.2692 0.65973 20.2692 0.976313 20.4645 1.17157L23.2929 4L20.4645 6.82843C20.2692 7.02369 20.2692 7.34027 20.4645 7.53554C20.6597 7.7308 20.9763 7.7308 21.1716 7.53554L24.3536 4.35356ZM-4.37114e-08 4.5L24 4.5L24 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#FF1A24"/>
                        </svg>
                    </span>
                    <span class="long-arrow">
                        <svg width="53" height="8" viewBox="0 0 53 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.3536 4.35356C52.5488 4.1583 52.5488 3.84171 52.3536 3.64645L49.1716 0.46447C48.9763 0.269208 48.6597 0.269208 48.4645 0.46447C48.2692 0.659733 48.2692 0.976315 48.4645 1.17158L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34028 48.4645 7.53554C48.6597 7.7308 48.9763 7.7308 49.1716 7.53554L52.3536 4.35356ZM-4.37114e-08 4.5L52 4.5L52 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#FF1A24"/>
                        </svg>
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}