.text-content {
  padding-bottom: 20px;
  padding-top: 36px;

  @media (min-width: 641px) {
    padding-bottom: 80px;
  }

  * {
    color: var(--colorDark);
  }

  ul {
    padding-inline-start: 1.225rem;

    li {
      list-style-type: none;
      position: relative;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 14px;

      &::before {
        position: absolute;
        content: '/';
        left: -18px;
        color: red;
      }
    }
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;

    @media (min-width: 1025px) {
      font-size: 36px;
      line-height: 28px;
    }
  }

  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 34px;
    padding-left: 24px;
    border-left: 1px solid var(--colorRed);

    @media (min-width: 641px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  p {
    color: var(--darkGrey);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 34px;
  }
}
