{% set items = craft.entries.section('offices').orderBy('postDate asc').all() %}
<footer class="footer">
{#    <div class="footer_noise"></div>#}
    <div class="container">
        <div class="footer_content-desk row">

            {% set nav = craft.navigation.nodes('footer').level(1).all() %}

            {% for node in nav %}
                <div class="footer_card col-sm-6 col-lg-3">
                    <div class="footer_card-title">
                    <span class="mb-0">
                        {{ node.title }}
                    </span>
                    </div>
                    <div class="collapse show">
                        <div class="card-body card-body-info">
                            {{ node.location }}
                            <div class="footer_card-phone">
                                {{ node.phone }}
                            </div>
                            {% if node.email %}
                                <div class="footer_card-mail">
                                    Email: {{ node.email }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="accordion footer_content footer_content-mob" id="accordionExample">
            {% for node in nav %}
                <div class="footer_card">
                    <div class="card-header" id="heading{{ node.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left {% if not loop.first %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{ node.id }}" aria-expanded="true" aria-controls="collapse{{ node.id }}">
                                {{ node.title }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse{{ node.id }}" class="collapse {% if loop.first %}show{% endif %}" aria-labelledby="heading{{ node.id }}" data-parent="#accordionExample">
                        <div class="card-body">
                            {{ node.location }}
                            <div class="footer_card-phone">
                                {{ node.phone }}
                            </div>
                            <div class="footer_card-mail">
                                Email: {{ node.email }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row footer_content-links">
            {% if global.socialNetworks %}
                <div class="col-lg-3 col-sm-4 footer_content-links-social d-flex justify-content-center align-items-center align-items-sm-center justify-content-sm-start">
                    <div class="d-flex footer_content-links-social-border">
                        {% for social in global.socialNetworks %}
                            {% switch social.network %}
                            {% case 'linkedin' %}
                            <a href="{{ social.link }}" class="d-flex align-items-center justify-content-center">
                                <div class="footer_content-links-social-border-media d-flex justify-content-center align-items-center">
                                    <i class="fab fa-linkedin-in"></i>
                                </div>
                            </a>
                            {% case 'facebook' %}
                            <a href="#" class="d-flex align-items-center justify-content-center">
                                <div class="footer_content-links-social-border-media d-flex justify-content-center align-items-center">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                            </a>
                            {% case 'google' %}
                            <a href="#" class="d-flex align-items-center justify-content-center">
                                <div class="footer_content-links-social-border-media d-flex justify-content-center align-items-center">
                                    <i class="fab fa-google-plus-g"></i>
                                </div>
                            </a>
                            {% endswitch %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% set button = global.button %}
            {% if button.customText %}
                <div class="col-lg-3 col-sm-4 footer_content-links-login d-flex align-items-sm-center">
                    <a href="{{ button.getUrl() }}" class="btn btn-primary red-btn border-0 rounded-0 d-flex justify-content-between align-items-center">
                        {{ button.customText }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                        </svg>
                    </a>
                </div>
            {% endif %}
            {% if global.legalPages|length %}
                <div class="col-lg-3 col-sm-4 footer_content-links-social-info d-flex justify-content-center justify-content-sm-end justify-content-lg-start">
                    <div class="d-flex flex-column align-items-center align-items-sm-start justify-content-lg-center">
                        {% for page in global.legalPages.all() %}
                            <a href="{{ page.getUrl() }}" class="footer_content-links-social-info-page">{{ page.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if global.copyright|length %}
                <div class="col-lg-3 footer_content-links-social-copyright d-flex justify-content-center">
                    <p>{{ global.copyright }}</p>
                </div>
            {% endif %}
        </div>
    </div>

</footer>