.footer {
  position: relative;
  background-image: url('/assets/img/blackFooter.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 24px;
  padding-top: 36px;

  @media (min-width: 576px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &_content {
    margin-bottom: 24px;

    &-desk {
      display: none !important;

      @media (min-width: 576px) {
        display: flex !important;
      }
    }

    &-mob {
      @media (min-width: 576px) {
        display: none;
      }
    }

    &-links {
      margin-top: 24px;

      @media (min-width: 576px) {
        margin-top: 36px;
      }

      &-login {
        margin-bottom: 36px;

        a {
          width: 100%;
        }

        @media (min-width: 576px) {
          margin-bottom: 0;
        }

        @media (min-width: 992px) {
          .btn-primary {
            width: 180px !important;
          }
        }
      }

      &-social {
        &-info {
          margin-bottom: 36px;

          @media (min-width: 576px) {
            margin-bottom: 0;
          }

          &-page {
            font-size: 14px;
            line-height: 18px;
            text-decoration: underline;
            margin-bottom: 12px;

            @media (min-width: 576px) {
              margin-bottom: 1px;
              margin-top: 9px;
            }

            @media (min-width: 992px) {
              margin-bottom: 5px;
              margin-top: 5px;
            }

            &:hover {
              color: var(--colorRed);
            }
          }
        }

        &-border {
          margin-bottom: 36px;
          height: 48px;

          @media (min-width: 576px) {
            margin-bottom: 0;
          }

          a {
            width: 48px;
            height: 48px;
            border: 1px solid var(--colorWhite);

            &:hover {
              border: 1px solid var(--colorWhite);
            }

            @media (min-width: 576px) {
              border: 1px solid var(--colorGrey2);
              color: var(--colorGrey2) !important;

              & * {
                color: var(--colorGrey2) !important;
              }

              &:hover {
                border: 1px solid var(--colorWhite);

                & * {
                  color: var(--colorWhite) !important;
                }
              }
            }
          }
        }

        &-copyright {
          margin-bottom: 18px;

          @media (min-width: 576px) {
            margin-top: 36px;
          }

          p {
            font-size: 14px;
            line-height: 18px;
            color: var(--lightGrey);
          }
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/img/footer.png');
    background-size: cover;
    background-position: center;
  }

  * {
    color: var(--colorWhite);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &_card {
    &-title {
      span {
        color: var(--colorWhite);
      }
    }

    .card-header {
      border-bottom: none;
    }

    .btn-link {
      &::before {
        transform: rotate(90deg);
      }
    }

    .collapsed {
      &.btn-link {
        &::before {
          transform: rotate(0deg);
        }
      }
    }

    * {
      color: var(--lightGrey);
    }

    &-phone {
      padding-left: 12px;
    }

    &-mail {
      padding-left: 12px;
    }

    .card-body {
      p {
        padding-left: 12px;
        padding-bottom: 12px;
      }
    }
  }

  .btn-link {
    position: relative;
    color: var(--colorWhite);
    font-weight: 600;

    &::before {
      position: absolute;
      content: '';
      left: -22px;
      top: 13px;
      width: 5px;
      height: 10px;
      background-image: url('/assets/img/whiteArrow.png');
      transition: all 0.3s ease;
    }

    &:hover {
      color: var(--colorWhite);
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

.card-body-info {
  padding-left: 0 !important;

  * {
    padding-left: 0 !important;
  }
}
