
    {% extends 'layout/main' %}

    {% block content %}
    <div class="result container">

    {% set searchUrl = '/search' %}

        {% set searchQuery = craft.app.request.getQueryParam('q') %}

        {% if searchQuery|length %}
            {# Fetch entries that match the search query #}
            {% set results = craft.entries()
                .search(searchQuery)
                .all() %}
            {% if results|length %}
                <h2>{{ results|length }} {{ global.searchPhrase ?? 'RESULTS FOR' }} "{{ searchQuery }}"</h2>
                <p>{{ global.tryAgainPhrase ?? 'If you didn\'t find what you were looking for, try again!' }}</p>
                <div class="result__wrap">
                    <div class="result__search">
                        <form class="result__search-input result__search-input--js d-flex align-items-center" action="{{ searchUrl }}">
                            <input type="search" name="q" placeholder="Search Here">
                            <div class="result__search-button result__search-button--js">
                                <button class="btn" type="button">
                    <span>
                        <img src="/assets/img/Vector.png" class="search-black" alt="">
                        <img src="/assets/img/search-red.svg" class="search-red" alt="">
                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <ul>
                    {% for result in results %}
                        <li>
                            <a href="#">
                                {{ result.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h1>{{ global.noResultsPhrase ?? 'THERE IS NO RESULTS FOR' }} "{{ searchQuery }}"</h1>
            {% endif %}
        {% endif %}
    </div>
    {% endblock %}

