.result {
  padding-top: 64px;
  padding-bottom: 80px;

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: var(--colorDark);
    margin-bottom: 12px;
  }

  ul {
    padding-inline-start: 0;

    li {
      display: inline-block;
      width: 100%;
      list-style-type: none;
      margin-top: 12px;

      @media (min-width: 641px) {
        width: 49%;
      }

      @media (min-width: 992px) {
        width: 24.5%;
      }

      a {
        padding-left: 30px;
        position: relative;
        color: var(--colorBlack);

        &::before {
          position: absolute;
          content: '';
          left: 0;
          width: 12px;
          top: 7px;
          height: 12px;
          background-image: url(/assets/img/right-up-black.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }

        &:hover {
          color: var(--colorRed);

          &::before {
            background-image: url(/assets/img/right-up-red.svg);
          }
        }
      }
    }
  }

  &__search {
    height: 100%;

    &-button {
      position: absolute;
      width: 50px;
      background: var(--colorWhite);
      right: 0;
      height: 48px;

      .search-red {
        display: none;
      }

      &.input-red {
        .search-black {
          display: none;
        }

        .search-red {
          display: inline-block;
        }
      }
    }

    &-input {
      width: 100%;
      height: 100%;
      position: relative;

      button {
        position: absolute;
        right: 15px;
      }

      input {
        width: 100%;
        height: 50px;
        border: unset;
        border-bottom: 1px solid var(--lightGrey);
        padding-left: 14px;

        &:focus-visible {
          outline: unset;
        }
      }
    }
  }

  &__wrap {
    right: 0;
    left: 0;
    height: 120px;
    background-color: var(--colorWhite);
  }
}
