@import "../../../globals";

.preview-content {
  padding-top: 24px;
  padding-bottom: 49px;

  &_bg {
    background-image: url('/assets/img/noise15.png');
  }

  @media (min-width: 641px) {
    padding-top: 66px;
  }

  ul {
    padding-inline-start: 0;
    width: 100%;

    li {
      list-style-type: none;
      font-weight: 600;
      position: relative;
      font-size: 15px;
      line-height: 24px;
      padding-bottom: 12px;
      margin-left: 1.25rem;

      @media (min-width: 641px) {
        width: 45%;
        margin: 0;
        display: inline-block;
        margin-left: 1.25rem;
      }

      @media (min-width: 1025px) {
        width: 30%;
        margin: 0;
        display: inline-block;
        margin-left: 1.25rem;
      }

      &::before {
        position: absolute;
        content: '/';
        left: -18px;
        color: red;
      }
    }
  }

  & > ul {
    display: none;

    @media (min-width: 641px) {
      display: block;
    }
  }

  .preview-content {
    &_text > ul {
      display: none;

      @media (min-width: 641px) {
        display: block;
      }
    }
  }

  strong {
    font-weight: 400;
    color: var(--colorRed);
  }

  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 12px;

    @media (min-width: 992px) {
      font-size: 24px;
      line-height: 36px;
      width: 25%;
      height: 35px;

      & ~ * {
        &:nth-child(2) {
          width: 70%;
        }

        &:not(:nth-child(2)) {
          @media (min-width: 641px) {
            margin-left: 30%;
            width: 70%;
          }
        }
      }
    }

    strong {
      font-weight: inherit;
      color: var(--colorRed);
    }
  }

  p {
    color: var(--darkGrey);
    margin-bottom: 24px;
  }

  &_link {
    background-color: unset;

    &.collapsePreviewSee {
      display: none !important;

      &.collapsed {
        display: flex !important;
      }
    }

    &.collapsePreviewHide {
      &.collapsed {
        display: none !important;
      }
    }

    &-block {
      &-check {
        @media (min-width: 641px) {
          display: none;
        }
      }
    }

    &-more {
      display: inline-block;
      font-weight: 600;
      color: var(--colorRed);
      margin-right: 28px;
    }

    &-icon {
      display: inline-block;
      color: var(--colorRed);
    }

    &:hover {
      text-decoration: none;

      & * {
        color: var(--colorLightRed);
      }
    }
  }
}
