{% if content.text|length %}
    <section class="preview-content {% if content.noise %}preview-content_bg{% endif %}" data-aos="fade-up">
        <div class="container">
            <div class="row col-12 justify-content-between preview-content_text">
                {{ content.text }}
                {% if content.infoList|length %}
                    <ul>
                        {% for element in content.infoList %}
                            <li>{{ element.title }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="preview-content_link-block">
                    <div class="preview-content_link-block-check">
                        <div class="collapse" id="collapsePreview{{ content.id }}">
                            {% if content.infoList|length %}
                                <ul>
                                    {% for element in content.infoList %}
                                        <li>{{ element.title }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        {% if content.infoList|length %}
                            <button class="preview-content_link d-flex border-0 pl-0 collapsePreviewSee collapsed" type="button" data-toggle="collapse" data-target="#collapsePreview{{ content.id }}" aria-expanded="false" aria-controls="collapsePreview{{ content.id }}">
                                <span class="preview-content_link-more">{{ content.reedMore ?? 'See more' }}</span>
                                <span class="preview-content_link-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
                                    </svg>
                                </span>
                            </button>
                            <button class="preview-content_link d-flex border-0 pl-0 collapsePreviewHide collapsed" type="button" data-toggle="collapse" data-target="#collapsePreview{{ content.id }}" aria-expanded="false" aria-controls="collapsePreview{{ content.id }}">
                                <span class="preview-content_link-more">{{ content.hide ?? 'Hide' }}</span>
                                <span class="preview-content_link-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                                    </svg>
                                </span>
                            </button>
                        {% endif %}
                    </div>
                    {% if content.button.customText|length %}
                        <a href="{{ content.button.getUrl }}" class="preview-content_link d-flex">
                            <span class="preview-content_link-more">{{ content.button.customText }}</span>
                            <span class="preview-content_link-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                                </svg>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}