<section data-aos="fade-left" class="contact-banner {% if content.text|length %}contact-banner-text{% endif %} justify-content-center d-flex" style="background-color: {{ content.color }};">
    {% set image = content.image.one() %}
    {% if image|length %}
        {% include "/shared/functions/_addImage.twig" with {
            image: image,
            preset: 'lowBanner'
        } %}
    {% endif %}
    {% if content.text|length %}
        <div class="container h-100 d-flex flex-column align-items-start justify-content-center contact-banner_with-text">
            <h2 {% if content.headerBorder %}class="contact-banner_border"{% endif %}>{{ content.header }}</h2>
            <div class="d-flex align-items-center flex-column flex-sm-row">
                <p>{{ content.text }}</p>
                {% if content.button.customText %}
                    <a href="{{ content.button.getUrl() }}" class="btn btn-primary red-btn border-0 rounded-0 d-flex justify-content-between align-items-center">
                        {{ content.button.customText }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="container h-100 d-flex align-items-center justify-content-between">
            {% if content.header %}
                <h2 {% if content.headerBorder %}class="contact-banner_border"{% endif %}>{{ content.header }}</h2>
            {% endif %}
            {% if content.button.customText %}
                <a href="{{ content.button.getUrl() }}" class="btn btn-primary red-btn border-0 rounded-0 d-flex justify-content-between align-items-center">
                    {{ content.button.customText }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                    </svg>
                </a>
            {% endif %}
        </div>
    {% endif %}
</section>
