.contact-banner {
  min-height: 160px;
  position: relative;

  &_border {
    padding-left: 8px;
    border-left: 1px solid var(--colorRed);

    @media (min-width: 641px) {
      padding-left: 24px;
    }
  }

  &-text {
    min-height: 240px;
  }

  @media (min-width: 641px) {
    min-height: 154px;
  }

  @media (min-width: 1025px) {
    min-height: 360px;
    max-height: 360px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: url(/assets/img/noise24.png);
  }

  picture {
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &_with-text {
    p {
      margin-bottom: 10px;
      padding-right: 25px;
      color: var(--colorWhite);
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;

      @media (min-width: 641px) {
        margin-bottom: 0;
      }

      @media (min-width: 1025px) {
        font-size: 18px;
        line-height: 30px;
      }
    }

    h2 {
      @media (min-width: 1025px) {
        margin-bottom: 24px;
      }
    }

    .btn-primary {
      width: 100% !important;
      max-width: 100% !important;

      @media (min-width: 641px) {
        max-width: 220px !important;
      }
    }
  }

  h2 {
    color: var(--colorWhite);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-right: 25px;
    min-width: 130px;

    @media (min-width: 641px) {
      font-size: 24px;
      line-height: 36px;
    }

    @media (min-width: 1025px) {
      font-size: 36px;
      line-height: 48px;
    }
  }

  .container {
    position: absolute;
    top: 0;

    .btn-primary {
      max-width: 270px;
      min-width: 160px;
      padding-right: 24px;
      padding-left: 24px;

      @media (min-width: 641px) {
        padding-right: 24px;
        padding-left: 24px;
      }
    }
  }
}
