<section class="delimiter container d-flex {% if content.dividerSide %}justify-content-lg-end{% endif%} mt-1 mb-1 mt-sm-3 mb-sm-3 mt-lg-5 mb-lg-5" data-aos="fade-right">
    <div class="delimiter-noise col-12 col-lg-6 ml-lg-0 mr-lg-0"></div>
</section>