.delimiter {
  @media (min-width: 1025px) {
    margin-top: 48px;
  }

  &-noise {
    height: 44px;
    background-image: url('/assets/img/noise15.png');
    background-size: cover;

    @media (min-width: 641px) {
      height: 48px;
    }

    @media (min-width: 1025px) {
      height: 90px;
    }
  }
}
