<section class="banner-img d-flex justify-content-center" data-aos="fade-down">
    {% set image = content.imageBanner.one() %}
    {% if image|length %}
        {% include "/shared/functions/_addImage.twig" with {
            image: image,
            preset: 'banner'
        } %}
    {% endif %}
</section>
