.banner-img {
  width: 100%;
  height: 555px;
  position: relative;
  margin-bottom: 96px;

  picture {
    width: 100%;
  }

  @media (min-width: 641px) {
    height: 392px;
  }

  @media (min-width: 1025px) {
    height: 860px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/img/noise15.png');
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
