<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicon -->
{#    {% cache globally using key 'favicon' %}#}
{#        {% set favicon = global.favicon.one() %}#}
{#        {% if favicon|length %}#}
{#            <link rel="shortcut icon" href="{{ favicon.getUrl() }}" type="image/x-icon" />#}
{#        {% endif %}#}
{#    {% endcache %}#}
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
{#    <link rel="manifest" href="/site.webmanifest">#}

</head>
<body>
<div id="anchor-home">
    {% set cacheKey = currentSite.id ~ ( entry.id ?? '' ) %}
    {% cache using key "header" ~ cacheKey ~ craft.app.request.isMobileBrowser() %}
        {% include 'layout/_partials/header/_index' %}
    {% endcache %}

    <div class="anchor-top">
        <a class="anchor-link d-flex justify-content-center align-items-center" href="#anchor-home"><i class="fas fa-chevron-up"></i></a>
    </div>

    <main>



        {% block content %}
            You can't see me!
        {% endblock %}


    </main>

    {% cache globally using key 'footer' %}
        {% include 'layout/_partials/footer/_index' %}
    {% endcache %}
</div>
</body>
</html>