.get-started {
  &_content {
    @media (min-width: 992px) {
      padding-top: 108px;
      padding-left: 85px !important;
      max-width: 538px !important;
    }

    &-reverse {
      @media (min-width: 992px) {
        padding-left: 0 !important;
        margin-left: 15px !important;
        padding-right: 108px !important;
        max-width: 555px !important;
        margin-right: -15px !important;
      }
    }

    &-noise {
      height: 44px;
      background-image: url('/assets/img/noise15.png');
      background-size: cover;
    }

    ul {
      padding-inline-start: 1.225rem;

      li {
        position: relative;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin-bottom: 0.75rem;
        list-style-type: none;

        @media (min-width: 641px) {
          font-size: 16px;
          line-height: 24px;
        }

        &::marker {
          display: none;
        }

        &::before {
          position: absolute;
          content: '/';
          left: -18px;
          color: red;
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0.875rem;

      @media (min-width: 641px) {
        font-size: 16px;
        line-height: 24px;
        padding-right: 100px;
      }
    }

    h4 {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 0.875rem;

      strong {
        font-weight: 700;
        color: var(--colorRed);
      }
    }

    &-link {
      margin-top: 24px;

      @media (min-width: 641px) {
        margin-top: 30px;
      }

      &-more {
        display: inline-block;
        font-weight: 600;
        color: var(--colorRed);
        margin-right: 1.75rem;
      }

      &-icon {
        display: inline-block;
        color: var(--colorRed);
      }

      &:hover {
        text-decoration: none;

        & * {
          color: var(--colorLightRed);
        }
      }
    }
  }

  &_picture {
    position: relative;
    margin-bottom: 24px;
    height: 180px;

    @media (min-width: 641px) {
      margin-bottom: 30px;
      height: 432px;
    }

    @media (min-width: 992px) {
      height: 540px;
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/assets/img/noise15.png');
      z-index: 2;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
