{% if content.imagePosition %}
    <section class="get-started" data-aos="fade-up">
        <div class="row mr-0 ml-lg-0">
            <div class="col-lg-6 d-flex justify-content-lg-end order-2 order-lg-1 pl-lg-0">
                <div class="col-12 get-started_content get-started_content-reverse pr-0 ml-lg-0">
                    {{ content.text }}
                    {% if content.button.customText|length %}
                        <div class="col mb-4 pr-0 pl-0 d-flex justify-content-lg-start get-started_content-link mb-sm-5 mb-lg-0">
                            <a href="{{ content.button.value }}" class="">
                                <span class="get-started_content-link-more">{{ content.button.customText }}</span>
                                <div class="get-started_content-link-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 get-started_picture pr-0 pl-lg-0 order-1">
                {% set image = content.image.one() %}
                {% if image|length %}
                    {% include "/shared/functions/_addImage.twig" with {
                        image: image,
                        preset: 'getStarted'
                    } %}
                {% endif %}
            </div>
        </div>
    </section>
{% else %}
    <section class="get-started" data-aos="fade-up">
        <div class="row mr-0 ml-lg-0">
            <div class="col-lg-6 get-started_picture pr-0 pl-0">
                {% set image = content.image.one() %}
                {% if image|length %}
                    {% include "/shared/functions/_addImage.twig" with {
                        image: image,
                        preset: 'getStarted'
                    } %}
                {% endif %}
            </div>
            <div class="col-lg-6">
                <div class="col-12 get-started_content pr-0">
                    {{ content.text }}
                    {% if content.button.customText|length %}
                        <div class="col mb-4 pr-0 pl-0 d-flex justify-content-lg-end get-started_content-link mb-sm-5 mb-lg-0">
                            <a href="{{ content.button.value }}" class="">
                                <span class="get-started_content-link-more">{{ content.button.customText }}</span>
                                <div class="get-started_content-link-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
