<div class="container pr-0 pl-0">
    <div class="forms row pr-0 col-12 ">
        {% if content.form|length %}
            {% set form = content.form %}
            <div class="forms__title col-lg-4">
                {% if content.header|length %}
                    <h2> {{ content.header }}</h2>

                {% endif %}
                {% if content.text|length %}
                    {{ content.text }}
                {% endif %}
            </div>
            <div class="forms__items col-lg-8 pr-0">
                {{ craft.freeform.form(form.handle).render }}
            </div>
        {% endif %}
    </div>
</div>