.forms {
  padding-bottom: 54px;

  &__items {
    @media (min-width: 992px) {
      padding-top: 25px;
    }
  }

  &__title {
    padding-top: 24px;

    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      color: var(--colorDark);
      margin-bottom: 12px;

      @media (min-width: 992px) {
        font-size: 36px;
        line-height: 48px;
      }
    }

    p {
      font-size: 14px;
      line-height: 18px;
      color: var(--darkGrey);
      margin-bottom: 30px;

      @media (min-width: 992px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .freeform-row {
    @media (min-width: 992px) {
      display: flex;
    }
  }

  label {
    font-size: 14px;
    line-height: 18px;
    color: var(--colorDark);
  }

  input {
    height: 48px;
    background-color: var(--colorGrey3);
    border: unset;
    border-bottom: 1px solid var(--colorGrey4);
    margin-bottom: 15px;

    &:hover {
      border-bottom: 1px solid var(--colorGrey5);
      padding-left: 18px;
      font-size: 16px;
      line-height: 24px;
      color: var(--colorBlack);
    }

    &:focus-visible {
      outline: unset;
    }
  }

  textarea {
    height: 96px;
    background-color: var(--colorGrey3);
    border: unset;
    border-bottom: 1px solid var(--colorGrey4);
    margin-bottom: 30px;

    &:hover {
      border-bottom: 1px solid var(--colorGrey5);
      padding-left: 18px;
      font-size: 16px;
      line-height: 24px;
      color: var(--colorBlack);
    }

    &:focus-visible {
      outline: unset;
    }
  }

  .freeform-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 992px) {
      margin-left: 20px;
    }
  }

  button {
    position: relative;
    text-align: left;
    padding-left: 24px;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    font-size: 17px;
    line-height: 24px;
    border: unset;
    height: 48px;

    &::before {
      position: absolute;
      content: '';
      top: 17px;
      right: 34px;
      width: 15px;
      height: 15px;
      background-image: url(/assets/img/right-up.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (min-width: 992px) {
      max-width: 270px;
    }

    &:hover {
      background-color: var(--colorLightRed);
      border: unset;
    }
  }
}
