<section class="map container" data-aos="fade-down">
    {% set image = content.image.one() %}
    {% if image|length %}
        {% include "/shared/functions/_addImage.twig" with {
            image: image,
            preset: 'banner'
        } %}
    {% endif %}
</section>