.offices {
  &__mob {
    @media (min-width: 576px) {
      display: none !important;
    }
  }

  &__desk {
    display: none !important;

    @media (min-width: 576px) {
      display: flex !important;

      & > div {
        border: 1px solid var(--lightGrey);
        padding-top: 30px;
      }

      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
        padding-left: 31px;
      }

      &-info {
        color: var(--darkGrey);
        padding-left: 31px;

        p {
          padding-bottom: 12px;
        }
      }

      .card-body-img {
        margin-top: 77px;
        height: 260px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #accordion {
    width: 100%;
    border: 1px solid var(--lightGrey);

    .card {
      border: unset;
      padding-top: 24px;
      padding-bottom: 14px;
      border-bottom: 1px solid var(--lightGrey);

      .card-header {
        border: unset;
        background-color: unset;
        padding: unset;
        margin-left: 10px;

        h5 {
          margin-block-start: 0;
          margin-block-end: 0;
          margin-inline-start: 0;
          margin-inline-end: 0;

          .btn {
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            color: var(--colorBlack);
            position: relative;

            &::before {
              transform: rotate(90deg);
              position: absolute;
              content: "";
              left: -11px;
              top: 16px;
              width: 5px;
              height: 10px;
              background-image: url(/assets/img/blackArrow.png);
              transition: all 0.3s ease;
            }

            &.collapsed {
              &::before {
                position: absolute;
                content: "";
                left: -11px;
                top: 16px;
                width: 5px;
                height: 10px;
                background-image: url(/assets/img/blackArrow.png);
                transition: all 0.3s ease;
                transform: rotate(0deg);
              }
            }

            &:hover {
              text-decoration: unset;
            }
          }
        }
      }

      .card-body {
        padding: 0;
        margin-left: 24px;
        color: var(--darkGrey);

        .offices__card-phone {
          padding-left: 0;
        }

        .offices__card-mail {
          padding-left: 0;
        }

        p {
          padding-top: 12px;
          padding-bottom: 12px;
        }

        &-img {
          margin-top: 24px;
          height: 158px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  &__direction {
    display: block;
    color: var(--colorRed);
    margin-bottom: 12px;

    @media (min-width: 576px) {
      margin-bottom: 24px;
      margin-left: 31px;
    }

    &:hover {
      text-decoration: unset;
      color: var(--colorLightRed);
    }
  }
}
