{% set offices = content.office.all() %}
<section class="offices fade" data-aos="fade-down">
    <div class="row mr-0 ml-0 offices__mob">
        <div id="accordion">
            {% for office in offices %}
                <div class="card col-lg-3">
                    <a href="{{ office.directionButton.value }}" class="offices__direction"><span>/</span> {{ office.directionButton.customText }}</a>
                    <div class="card-header" id="directionOne{{ office.id }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#showOne{{ office.id }}" aria-expanded="true" aria-controls="showOne{{ office.id }}">
                                {{ office.title }}
                            </button>
                        </h5>
                    </div>

                    <div id="showOne{{ office.id }}" class="collapse" aria-labelledby="directionOne{{ office.id }}" data-parent="#accordion">
                        <div class="card-body">
                            {{ office.location }}
                            {% if office.phone %}
                                <div class="offices__card-phone">
                                    {{ office.phone }}
                                </div>
                            {% endif %}

                            {% if office.email %}
                                <div class="footer__card-mail">
                                    Email: {{ office.email }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-body-img">
                            {% set image = office.image.one() %}
                            {% if image|length %}
                                {% include "/shared/functions/_addImage.twig" with {
                                    image: image,
                                    preset: 'office'
                                } %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mr-0 ml-0 offices__desk">
        {% for office in offices %}
            <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-between">
                <div>
                    <a href="{{ office.directionButton.getUrl() }}" class="offices__direction"><span>/</span> {{ office.directionButton.customText }}</a>
                    <h3>{{ office.title }}</h3>
                    <div class="offices__desk-info">
                        {{ office.location }}
                        <div class="offices__card-phone">
                            {{ office.phone }}
                        </div>
                        <div class="footer__card-mail">
                            {{ office.email }}
                        </div>
                    </div>
                </div>
                <div class="card-body-img row">
                    {% set image = office.image.one() %}
                    {% if image|length %}
                        {% include "/shared/functions/_addImage.twig" with {
                            image: image,
                            preset: 'office'
                        } %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
