@import '../../../../node_modules/slick-carousel/slick/slick.scss';
@import '../../../../node_modules/slick-carousel/slick/slick-theme.scss';

.slider {
  margin-bottom: 96px;

  &-for {
    margin-bottom: 24px;

    .slick-slide {
      width: 100%;
      height: 180px;

      @media (min-width: 641px) {
        height: 432px;
      }

      @media (min-width: 992px) {
        height: 600px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &-nav {
    width: 70%;
    margin: auto;

    @media (min-width: 992px) {
      width: 50%;
    }

    &-arrow {
      position: relative;
      width: 100%;

      button {
        position: absolute;
        padding: 0;
        display: flex;
        align-items: center;

        &:hover {
          color: var(--colorRed);
        }

        span {
          display: none;
          width: 30px;
          height: 1px;
          background-color: var(--colorRed);

          @media (min-width: 992px) {
            display: inline-block !important;
          }
        }
      }

      #prev {
        left: 0;

        span {
          margin-right: 18px;
        }
      }

      #next {
        right: 0;

        span {
          margin-left: 18px;
        }
      }
    }

    .slick-track {
      display: flex;
      justify-content: center;

      .slick-slide {
        margin-left: 5px;
        margin-right: 5px;

        @media (min-width: 992px) {
          width: 90px !important;
          height: 54px;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
