{% set images = content.images.all() %}
{% if images|length %}
<section data-aos="fade-up" class="slider container">
    <div class="slider-for">
        {% for image in images %}
                <div>
                    {% include "/shared/functions/_addImage.twig" with {
                        image: image,
                        preset: 'slider'
                    } %}
                </div>
        {% endfor %}
    </div>
    <div class="slider-nav-arrow d-flex justify-content-center align-items-center">
        <div class="slider-nav">
            {% for image in images %}
                    <div>
                        {% include "/shared/functions/_addImage.twig" with {
                            image: image,
                            preset: 'smallSlider'
                        } %}
                    </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}